# dependencies
node_modules/

# builds
dist/
.vite/

# env & local config
.env
.env.*
.vercel/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS/editor noise
.DS_Store
Thumbs.db
.vscode/
.idea/

# tests/coverage
coverage/
